<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.hibernate.driver_class"></property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/projectadmin</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.pool_size">1</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping resource="VO/category.hbm.xml" />
		<mapping resource="VO/city.hbm.xml" />
		<mapping resource="VO/country.hbm.xml" />
		<mapping resource="VO/offer.hbm.xml" />
		<mapping resource="VO/product.hbm.xml" />
		<mapping resource="VO/state.hbm.xml" />
		<mapping resource="VO/subCategory.hbm.xml" />
		<mapping resource="VO/tips.hbm.xml" />
		<mapping resource="VO/tipsType.hbm.xml" />
		<mapping resource="VO/complaint.hbm.xml" />
		<mapping resource="VO/feedback.hbm.xml" />
		<mapping resource="VO/sellerRegister.hbm.xml" />
		<mapping resource="VO/userRegister.hbm.xml" />
		<mapping resource="VO/login.hbm.xml" />
		<mapping resource="VO/mainType.hbm.xml" />
		<mapping resource="VO/color.hbm.xml" />
		<mapping resource="VO/brand.hbm.xml" />
		<mapping resource="VO/size.hbm.xml" />
		<mapping resource="VO/file.hbm.xml" />
	</session-factory>
</hibernate-configuration>
